*{
    margin: 0;
    padding: 0;
}

html{
    background-color: lavender;
}

body {
    font-family: Arial, Arial, Helvetica, c;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #be93d4;
}

a:focus a:hover{
    font-style: italic;
}

header{
    padding: 1.5em 0 2em 0;
    background-color: #efbbff;
}

header h2{
    font-size: 175%;
    color: #570861;
}

header img {
    float: left;
    padding: 0 30px;
}

nav{
    display: block;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    width: 160px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #be93d4;
    color: #570861;
    font-weight: bold;
}
#nav_menu ul{
    list-style: none;
    position: relative;
}
#nav_menu ul li{
    float: left;
}
