*{
    margin: 0;
    padding: 0;
}

html{
    background-color: lavender;
}

body {
    font-family: Arial, Helvetica, c;
    font-size: 180%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #be93d4;
}

a:focus a:hover{
    font-style: italic;
}

header{
    padding: 3em 0 2em 0;
    background-color: #fff2ff;
}

header h2{
    font-size: 175%;
    color: #570861;
}

header img {
    float: left;
    padding: 0 3em 3em 3em;


}


nav ul{
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 1em ;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    width: 150px;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #be93d4;
    color: #570861;
    font-weight: bold;
}
#nav_menu ul{
    list-style: none;
    position: absolute;
}
#nav_menu ul li{
    float: left;
}
main{
    background-color: lavender;
}

main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 3em 1em 2em;
}

main p{
    font-family: Garamond, serif;
    background-color: lavender;
    float: left;
    padding: 2em 0 2em 0;
}

footer {
    background-color: #be93d4;
    clear: both;

}
footer p {
    text-align: center;
    color: #570861;
    padding: 1em 0;
}
