nav ul{
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 3em ;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    width: 300px;
    height: 75px;
    text-align: center;
    padding: 0 3em 0 3em;
    text-decoration: none;
    background-color: #be93d4;
    font-size: 24px;
    color: #570861;
    font-weight: bold;
    border: 3px solid #570861;
}

main{
    font-family: Garamond, serif;
    background-color: lavender;
    float: left;
    padding: 2em 0 2em 0;
}

.card{
    width: 100vw;
    padding-right: 5em;

}
.card2{
    width: 100vw;
}
.card-list1{
    font-size: 30px;
}

.col-right{
    float: right;
    margin: 0 2em 0 5em;
    padding: 0;
}
.snugCat{
    max-width: 800px;
    max-height: 800px;
}
#pic2{
    max-width: 800px;
    max-height: 800px;
}
.card-title{
    font-size:60px;
}
.card-text{
    margin:0 auto;
    font-size: 30px;
}
footer {
    background-color: #be93d4;
}

.copyright{
    font-size: 24px;
    text-align: center;
    color: white;

}

#current{
    color: #570861;
}
