body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
* {
    box-sizing: border-box;
}
.logo-image{
    width: 80px;
}

.textAndInput{
    display: block;
    position: center;
    margin: 0 auto;
    padding: 3em 2em 3em 2em;
    border: 3px solid purple;
    color: purple;
    font-size: xx-large;
    background-color: #fff2ff;

}

input[type=text], select, textarea {
    width: 75%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: purple;
    color: white;
    padding: 12px 20px;
    float: left;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 300px;
    width: 800px;
}

input[type=submit]:hover {
    background-color: #be93d4;
}

.submit{
    background-color: #570861;
    color:white;
}

.submit:hover{
    background-color: #b491c8;
}

#subject{
    height: 300px;
    width: 800px;
}

#aqcc{
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 2em;
}


nav ul{
    float: left;
    list-style-type: none;
    margin: 0 auto;
    padding: 3em ;
}
nav li{
    float: left;
}
nav li a{
    display: block;
    width: 300px;
    height: 75px;
    text-align: center;
    padding: 0 3em 0 3em;
    text-decoration: none;
    background-color: #be93d4;
    font-size: 24px;
    color: #570861;
    font-weight: bold;
    border: 3px solid #570861;
}


.logo-image{
    font-size: 10px;
}

footer {
    background-color: #be93d4;
    clear: both;

}
footer p {
    text-align: center;
    color: #570861;
    padding: 1em 0;
}

#current{
    color: #570861;
}
