
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #be93d4;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: purple;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #b491c8;
}

.container {
    border-radius: 5px;
    background-color: lavender;
    padding: 20px;
}